@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Coffee Shop!</h1>
    </br>
    <a href="/Home/CreateCoffeeUser" class="btn btn-info">Click Here To Register a Coffee User</a>
</div>
